// colors
$primary: #003764; // dark blue
$secondary: #f1a50a; // yellow
$white: #ffffff; // brightest white

// lightened colors
$primary-lightened: lighten($primary, 10%);
$secondary-lightened: lighten($secondary, 10%);

// darkened colors
$primary-darkened: darken($primary, 10%);
$secondary-darkened: darken($secondary, 10%);