<!--Footer-->
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" style="margin-top: 80px;">
    <div class="container text-center">
      <small>Copyright &copy; Clark State College Medical Center 2021</small>
    </div>
</footer>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
