<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="img/FinalLogo.png" class="img-thumbnail" alt="EHRLogo">                
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Patient Selection</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="/dashboard">Patient Dashboard</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Imaging</a></li>
                <li><a href="#">Labs</a></li>
                <li><a href="#">Care Plan</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Order Entry</a>
        </li>
        <li>
            <a href="#vitalsSubmenu" data-toggle="collapse" aria-expanded="false">Vitals</a>
            <ul class="collapse list-unstyled" id="vitalsSubmenu">
                <li><a href="#">Vitals</a></li>
                <li><a href="#">Weight</a></li>
                <li><a href="#">Pain</a></li>
                <li><a href="#">Input</a></li>
                <li><a href="#">Output</a></li>
            </ul>
        </li>
        <li>
            <a href="#PatASubmenu" data-toggle="collapse" aria-expanded="false">Patient Assessment</a>
            <ul class="collapse list-unstyled" id="PatASubmenu">
                <li><a href="/daily-care">Daily Care</a></li>
                <li><a href="/general-head">General Head</a></li>
                <li><a href="#">Cariovascular</a></li>
                <li><a href="#">Perifpheral Pulse Assessment</a></li>
                <li><a href="#">Gastrointestinal</a></li>
                <li><a href="#">Genitourinary</a></li>
                <li><a href="#">Nuerological</a></li>
                <li><a href="#">Psychosocial</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Respiratory</a></li>
                <li><a href="#">Infection</a></li>
                <li><a href="#">Vascular</a></li>
                <li><a href="#">Drains and Tubes</a></li>
            </ul>
        </li>
        <li>
            <a href="#MedsSubmenu" data-toggle="collapse" aria-expanded="false">Medication Administration</a>
            <ul class="collapse list-unstyled" id="MedsSubmenu">
                <li><a href="#">Scheduled Medications</a></li>
                <li><a href="#">PRN Medications</a></li>
                <li><a href="#">Continous Medications</a></li>
                <li><a href="#">Respiratory Medications</a></li>
                <li><a href="#">Discontinued Medications</a></li>
            </ul>
        </li>
    
    
    <ul class="list-unstyled CTAs">
        <li><a href="#" class="download">LOGOUT</a></li>
    </ul>
</nav>