<!-- Tabs -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <ul class="nav nav-tabs" style="margin-top: 30px;">

                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Elimination Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Intake Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Hygiene Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Mobility Table</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Elimination Table -->
                
 <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Level</th>
        <th scope="col">Ambulation</th>
        <th scope="col">Devices</th>
        <th scope="col">Assistance Level</th>
        <th scope="col">Positioning</th>
        <th scope="col">Notes</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No Restrictions</td>
        <td>n/a</td>
        <td>No Devices Needed</td>
        <td>Able to turn independently</td>
        <td>Supine</td>
        <td>NONE</td>
      </tr>
    </tbody>
  </table>
  