  <!-- Health Section Table -->
  <div class="container">
    <div class="row">
        <div   id="patientInfo" style="margin: auto;">
            <div>
                <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #B0D1E0; max-width: 100%; width: 1110px;">
                    <thead style="color: #006A99;; font-size: larger;">
                    <tr>
                        <th scope="col" style="border-bottom: 1px solid #B0D1E0;">Health</th>
                        <th style="border-bottom: 1px solid #B0D1E0;"></th>
                    </tr>
                    </thead>
                    <tbody style="color: Black;">
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;">Medical Number:</th>
                        <td style="border-top: 1px solid #B0D1E0;">12345</td>
                        <th style="border-top: 1px solid #B0D1E0;">Diet:</th>
                        <td style="border-top: 1px solid #B0D1E0;">Regular</td>
                        <th style="border-top: 1px solid #B0D1E0;">Braden Scale:</th>
                        <td style="border-top: 1px solid #B0D1E0;">20</td>
                    </tr>
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;">Allergies:</th>
                        <td style="border-top: 1px solid #B0D1E0;">None</td>
                        <th style="border-top: 1px solid #B0D1E0;">Fall Rate:</th>
                        <td style="border-top: 1px solid #B0D1E0;">None</td>
                        
                    </tr>
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;"></th>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        
                        <!-- Edit Button -->
                        <td style="border-top: 1px solid #B0D1E0;"><button type="button" class="btn btn-warning">Edit</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Health Section -->