  <!--Health Section-->
  <div class="container">
    <div class="row">
      <div   id="patientInfo" style="margin: auto;">
          <div>
              <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #B0D1E0; max-width: 100%; width: 1110px;">
                  <thead style="color: #006A99;; font-size: larger;">
                  <tr>
                      <th scope="col">Health</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody style="color: Black;">
                  <tr>
                      <th>Medical Number:</th>
                      <td>12345</td>
                      <th>Diet:</th>
                      <td>Regular</td>
                      <th>Braden Scale:</th>
                      <td>20</td>
                  </tr>
                  <tr>
                      <th>Allergies:</th>
                      <td>None</td>
                      <th>Fall Rate:</th>
                      <td>None</td>
                      
                  </tr>
                  <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      
                      
                      <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- End Health Section -->