<!--Hospital Information Section-->
<div class="container" style="padding-top: 30px;">
    <div class="row">
      <div   id="patientInfo" style="margin: auto;">
          <div>
              <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #B0D1E0; max-width: 100%; width: 1110px;">
                  <thead style="color: #006A99;; font-size: larger;">
                  <tr>
                      <th scope="col">Hospital Information</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody style="color: Black;">
                  <tr>
                      <th>Room Number:</th>
                      <td>1</td>
                      <th>Admit Date:</th>
                      <td>9/9/2021</td>
                      <th>Code</th>
                      <td>Full Code</td>
                  </tr>
                  <tr>
                      <th>Diagnosis:</th>
                      <td>Annual Checkup</td>
                      <th>Isolation Status:</th>
                      <td>None</td>
                      <th>Activity Level:</th>
                      <td>N/A</td>
                      
                  </tr>
                  <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- End Hospital Information Section-->