  <!-- Hospital Information Section Table -->
  <div class="container" style="padding-top: 30px;">
    <div class="row">
        <div   id="patientInfo" style="margin: auto;">
            <div>
                <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #B0D1E0; max-width: 100%; width: 1110px;">
                    <thead style="color: #006A99;; font-size: larger;">
                    <tr>
                        <th scope="col" style="border-bottom: 1px solid #B0D1E0;">Hospital Information</th>
                        <th style="border-bottom: 1px solid #B0D1E0;"></th>
                    </tr>
                    </thead>
                    <tbody style="color: Black;">
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;">Room Number:</th>
                        <td style="border-top: 1px solid #B0D1E0;">1</td>
                        <th style="border-top: 1px solid #B0D1E0;">Admit Date:</th>
                        <td style="border-top: 1px solid #B0D1E0;">9/9/2021</td>
                        <th style="border-top: 1px solid #B0D1E0;">Code</th>
                        <td style="border-top: 1px solid #B0D1E0;">Full Code</td>
                    </tr>
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;">Diagnosis:</th>
                        <td style="border-top: 1px solid #B0D1E0;">Annual Checkup</td>
                        <th style="border-top: 1px solid #B0D1E0;">Isolation Status:</th>
                        <td style="border-top: 1px solid #B0D1E0;">None</td>
                        <th style="border-top: 1px solid #B0D1E0;">Activity Level:</th>
                        <td style="border-top: 1px solid #B0D1E0;">N/A</td>
                        
                    </tr>
                    <tr>
                        <th style="border-top: 1px solid #B0D1E0;"></th>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <td style="border-top: 1px solid #B0D1E0;"></td>
                        <!-- Edit Button -->
                        <td style="border-top: 1px solid #B0D1E0;"><button type="button" class="btn btn-warning">Edit</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Hospital Information Section-->