      <!-- Vitals Section Table-->
      <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div   id="patientInfo" style="margin: auto;">
                <div>
                    <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #DBE1E4; max-width: 100%; width: 1110px;">
                        <thead style="color: #006A99;; font-size: larger;">
                        <tr>
                            <th scope="col" style="border-bottom: 1px solid #DBE1E4">Vitals</th>
                            <th style="border-bottom: 1px solid #DBE1E4"></th>
                        </tr>
                        </thead>
                        <tbody style="color: Black;">
                        <tr>
                            <th style="border-top: 1px solid #DBE1E4">Blood Pressure:</th>
                            <td style="border-top: 1px solid #DBE1E4">120/80</td>
                            <th style="border-top: 1px solid #DBE1E4">Respiration:</th>
                            <td style="border-top: 1px solid #DBE1E4">14</td>
                            <th style="border-top: 1px solid #DBE1E4">Temperature:</th>
                            <td style="border-top: 1px solid #DBE1E4">98.5</td>
                        </tr>
                        <tr>
                            <th style="border-top: 1px solid #DBE1E4">Pulse:</th>
                            <td style="border-top: 1px solid #DBE1E4">70</td>
                            <th style="border-top: 1px solid #DBE1E4">Oxygen Level:</th>
                            <td style="border-top: 1px solid #DBE1E4">95%</td>
                        </tr>
                        <tr>
                            <th style="border-top: 1px solid #DBE1E4"></th>
                            <td style="border-top: 1px solid #DBE1E4"></td>
                            <td style="border-top: 1px solid #DBE1E4"></td>
                            <td style="border-top: 1px solid #DBE1E4"></td>
                            <td style="border-top: 1px solid #DBE1E4"></td>
                            <!-- Edit Button -->
                            <td style="border-top: 1px solid #DBE1E4"><button type="button" class="btn btn-warning">Edit</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- End Vitals Section -->