<!--Vitals Section-->
<div class="container" style="padding-top: 30px;">
    <div class="row">
      <div   id="patientInfo" style="margin: auto;">
          <div>
              <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #DBE1E4; max-width: 100%; width: 1110px;">
                  <thead style="color: #006A99;; font-size: larger;">
                  <tr>
                      <th scope="col">Vitals</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody style="color: Black;">
                  <tr>
                      <th>Blood Pressure:</th>
                      <td>120/80</td>
                      <th>Respiration:</th>
                      <td>14</td>
                      <th>Temperature:</th>
                      <td>98.5</td>
                  </tr>
                  <tr>
                      <th>Pulse:</th>
                      <td>70</td>
                      <th>Oxygen Level:</th>
                      <td>95%</td>
                  </tr>
                  <tr>
                      <th></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<!-- End Vitals Section -->