<!--patient card -->
<div class="container">
<div class="row">
    <div id="patientInfo" style="margin: auto;">
        <div style="float: left;">
            <img src="img/MichaelScott.png" alt="..." class="card-img-left" style="width: 170px;">
        </div>
        <div style="float: left;">
            <table class="table table-borderless" style="margin: 0 auto; display: table; background-color: #006A99;">
                <thead style="color: white;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">MR#</th>
                    <th scope="col">Provider</th>
                </tr>
                </thead>
                <tbody style="color: white;">          
                    <tr>
                        <td>Michael Scott</td>
                        <td>56</td>
                        <td>Male</td>
                        <td>1245783</td>
                        <td>Health Insurance</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Room #</td>
                        <td style="font-weight: bold;">DOB</td>
                        <td style="font-weight: bold;">Admit Date</td>
                        <td style="font-weight: bold;">Code</td>
                        <td style="font-weight: bold;">Allergies</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>3/15/1965</td>
                        <td>9/9/2021</td>
                        <td>Full Code</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- end patient card -->