<!--patient card -->
<div class="container">
    <div class="row" style="margin:auto; padding:10px; padding-left: 230px;">
    <div id="patientInfo" style="margin: auto;">
        <!-- Patient Image -->
        <div style="float: left;">
            <img src="img/MichaelScott.png" alt="..." class="card-img-left" style="width: 131px;">
        </div>
        <!-- Patient Information Table Next to Patient Image -->
        <div style="float: left;">
            <table class="table" style="margin: 0 auto; display: table; background-color: #006A99; border-top: 1px solid #006A99;">
                <thead style="color: white;">
                <tr>
                    <th scope="col" style="border-bottom: 1px solid #006A99;">Name</th> 
                    <th scope="col" style="border-bottom: 1px solid #006A99;">Age</th>
                    <th scope="col" style="border-bottom: 1px solid #006A99;">Gender</th>
                    <th scope="col" style="border-bottom: 1px solid #006A99;">MR#</th>
                    <th scope="col" style="border-bottom: 1px solid #006A99;">Provider</th>
                </tr>
                </thead>
                <tbody style="color: white;">
                    
                <tr>
                    <td style="border-top: 1px solid #006A99;">Michael Scott</td>
                    <td style="border-top: 1px solid #006A99;">56</td>
                    <td style="border-top: 1px solid #006A99;">Male</td>
                    <td style="border-top: 1px solid #006A99;">1245783</td>
                    <td style="border-top: 1px solid #006A99;">Health Insurance</td>
                </tr>
                <tr>
                    <td style="font-weight: bold; border-top: 1px solid #006A99;">Room #</td>
                    <td style="font-weight: bold; border-top: 1px solid #006A99;">DOB</td>
                    <td style="font-weight: bold; border-top: 1px solid #006A99;">Admit Date</td>
                    <td style="font-weight: bold; border-top: 1px solid #006A99;">Code</td>
                    <td style="font-weight: bold; border-top: 1px solid #006A99;">Allergies</td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #006A99;">1</td>
                    <td style="border-top: 1px solid #006A99;">3/15/1965</td>
                    <td style="border-top: 1px solid #006A99;">9/9/2021</td>
                    <td style="border-top: 1px solid #006A99;">Full Code</td>
                    <td style="border-top: 1px solid #006A99;">None</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- end patient card -->