<!-- Tabs -->
<div class="container">
  <div class="row justify-content-center" style="margin-left: 12px;">
      <div class="col-12">
          <ul class="nav nav-tabs" style="margin-top: 30px;">
              <li class="nav-item">
                  <a class="nav-link active" href="#" style="background-color: #006A99; color: white;">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="background-color: #006A99; color: white;">History</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Imaging</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Labs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="background-color: #006A99; color: white;">Care Plan</a>
              </li>
          </ul>
      </div>
  </div>
</div>
<!-- End Tabs-->